
body {
color: #777;
background: #777;
padding-left: 18rem;
padding-right: 18rem;
width: 960px;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
overflow: scroll;

}

header {
    text-align: center;
    padding: 30px;
    font-size: 25px;
}

nav {
    text-align: center;
    padding: 30px;
    font-size: 25px;
}

aside {
    float: right;
    overflow: hidden;
    background: white;
    padding: 100px;
    font-size: 25px;
    height: 122px;
    width: 200px;
    text-align: center;
    margin-left: 25px;
}

section {
    padding: 20px;
    text-align: center;
    width: 495px;
    float: left;
    margin-bottom: 15px;
    clear: both;
}

article {
    background: #777;
    color: #ebebeb;
    border-style: solid; /* I gave this my best shot to figure out how to create that gap between the footer */
    overflow: auto;
}

p, h3 {
    background: #ebebeb;
    border-style: solid;
    font-size: 20px;
    padding: 10px;
    color: #777;
}

footer {
    text-align: center;
    padding: 30px;
    font-size: 25px;
    margin-top: 10%;
    clear: both;
}

header, nav, section, aside, footer {
    background: #ebebeb;
}